{% extends 'base.html' %}
{% block content %}
{% load static %}
  {% load extras %}
  {% load crispy_forms_tags %}
  <br>
<div class="col-12 text-center">
<a href="{% url 'mocktest:previous_results' %}" class="btn btn-primary">View Previous Results</a>
<a href="{% url 'mocktest:user_profile' %}"  class="btn btn-primary">User Profile</a>
</div>
            <!-- Banner -->
            <div class="container ">
              <div class="form-section  mx-auto">
<form method="get" class="form-inline" class="uniForm">
        {{ postall.form|crispy }}
        <input class="btn btn-primary" type="submit" value="select" />


             
        <section>

        
    </form>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>Lessons</h2>
                    </div>
                    <div class="default-table">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            
                            <th>CLASS</th>
                            <th>SUBJECT</th>
                            <th>CHAPTER</th>
                            <th>LESSON</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for obj in postall_paginator %}
                          <tr>
                            
                            <td>{{ obj.sclass }}</td>
                            <td>{{ obj.subject }}</td>
                            <td>{{ obj.chapter }}</td>
                            <td>{{ obj.slesson }}</td>
                            <td><div class="btn btn-warning">
                              <a href="{% url 'mocktest:take_test' obj.id %}" class="btn btn-primary">Take test</a></div>
                          </tr>
                          
                          {% endfor %}
                        </tbody>
                      </table>

 
  <div class="pagination">
    <span class="step-links">
        {% if postall_paginator.has_previous %}                
 <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo;Frist</a>
<a href="{% my_url postall_paginator.previous_page_number 'page' request.GET.urlencode %}">Previous</a>

{% endif %}
      <span class="current">
    {{postall_paginator.number}} of {{postall_paginator.paginator.num_pages}}
   </span>

            {% if postall_paginator.has_next %}                
 <a href="{% my_url postall_paginator.next_page_number 'page' request.GET.urlencode %}">&laquo;Next</a>
<a href="{% my_url postall_paginator.num_pages 'page' request.GET.urlencode %}">Last</a>

{% endif %}
               </span>      
                      
                    </div>
                     
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>         

            <!-- Services -->
            
          </div>
        </div>

      <!-- Sidebar -->
      {% endblock  %}