{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ request.user.username }}!</h2>

  <h3>Courses:</h3>
  <select id="courseSelect">
    <option value="">All</option>
    {% for course in courses %}
      <option value="{{ course.id }}">{{ course.course_name }}</option>
    {% endfor %}
  </select>

  <h3>Topics:</h3>
  <select id="topicSelect" disabled>
    <option value="">Select a Course first</option>
    {% for topic in topics %}
      <option value="{{ topic.id }}" data-course="{{ topic.course.id }}">{{ topic.topic }}</option>
    {% endfor %}
  </select>

  <a href="#" id="startTestBtn" class="btn btn-primary" disabled>Start Test</a>
<div>
  <a href="{% url 'previous_results' %}" class="btn btn-primary">View Previous Results</a>
  <a href="{% url 'user_profile' %}"  class="btn btn-primary">User Profile</a>

</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Function to update the topic select options based on the selected course
      function updateTopicOptions() {
        var selectedCourse = $('#courseSelect').val();
        var topicSelect = $('#topicSelect');
        topicSelect.prop('disabled', true);
        topicSelect.find('option').hide();

        if (selectedCourse) {
          topicSelect.find('option[data-course="' + selectedCourse + '"]').show();
          topicSelect.prop('disabled', false);  // Enable the topic select
          topicSelect.val('');  // Clear the selected topic
        }

        $('#startTestBtn').prop('disabled', true);
      }

      // Function to construct the start button URL
      function constructStartButtonUrl() {
        var selectedCourse = $('#courseSelect').val();
        var selectedTopic = $('#topicSelect').val();

        if (selectedCourse && selectedTopic) {
          var url = '{% url "take_test" topic_id=0 %}'.replace('0', selectedTopic);
          $('#startTestBtn').attr('href', url);
        } else {
          $('#startTestBtn').removeAttr('href');
        }
      }

      // Event listener for course select change
      $('#courseSelect').change(function() {
        updateTopicOptions();
        constructStartButtonUrl();
      });

      // Event listener for topic select change
      $('#topicSelect').change(function() {
        constructStartButtonUrl();
      });

      // Initial update of topic select options
      updateTopicOptions();
      constructStartButtonUrl();
    });
  </script>
{% endblock %}
